
@using MVCDay1_Homework_MyAccountingBook.Models.ViewModels
@model List<IncomeAndPayRecordModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()*@

@*<div class="form-horizontal">

        <h4>IncomeAndPayStatus</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Money, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Money, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Money, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImplementDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImplementDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImplementDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@

@*<div class="jumbotron">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label  col-md-2" })
            <select id="Category" name="Category" class="form-control">
                <option value="1">支出</option>
                <option value="2">收入</option>
            </select>
            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
        </p>

        <p>
            @Html.LabelFor(model => model.Money, htmlAttributes: new { @class = "control-label  col-md-2" })
            @Html.EditorFor(model => model.Money, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Money, "", new { @class = "text-danger" })

        </p>

        <p>
            @Html.LabelFor(model => model.ImplementDate, htmlAttributes: new { @class = "control-label  col-md-2" })
            @Html.EditorFor(model => model.ImplementDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ImplementDate, "", new { @class = "text-danger" })

        </p>

        <p>
            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
        </p>

        <p>
            <input type="submit" value="送出" class="btn btn-primary btn-lg col-sm-offset-8" />
        </p>
    </div>*@
@*}*@

        <div class="well">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="Category" class="col-sm-2 control-label">類別</label>
                    <div class="col-sm-10">
                        <select id="Category" name="Category" class="form-control">
                            <option value="0" selected>請選擇</option>
                            <option value="1">支出</option>
                            <option value="2">收入</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Money" class="col-sm-2 control-label">金額</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Money" name="Money" placeholder="金額">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ImplementDate" class="col-sm-2 control-label">日期</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ImplementDate" name="ImplementDate" placeholder="日期">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Remark" class="col-sm-2 control-label">備註</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="Remark" name="Remark"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-4">
                        <button type="submit" id="Send" name="Send" class="btn btn-default">送出</button>
                    </div>
                </div>
            </form>
        </div>

@Html.Action("IncomeAndPayList")
